@layer components {
}
.font-title-page {
  font-weight: 600;
  font-family: Inter, system-ui, sans-serif;
  font-size: 22px;
  font-optical-sizing: auto;
  color: rgb(148 163 184);
}

.playwrite-gb-j-guides-regular-italic {
  font-family: 'Playwrite GB J Guides', cursive;
  font-weight: 400;
  font-style: italic;
}

.gravitas-one-regular {
  font-family: 'Gravitas One', serif;
  font-weight: 400;
  font-style: normal;
}
