@layer components {
  .liquid_bar_rigth_rounded_black {
    backdrop-filter: blur(8px);
    /*@ backdrop-blur-sm; -> crea liquid glass*/
    /* filter: grayscale(0%);
    -webkit-filter: grayscale(0%); */
    border-bottom-right-radius: 0.75rem;
    border-width: 1px;
  }

  .liquid_bar_left_rounded_black {
    backdrop-filter: blur(4px);
    /* filter: grayscale(0%);
    /*100%blancoynegro,0%color*/
    /*-webkit-filter: grayscale(10%); */
    border-bottom-left-radius: 0.75rem;
    border-width: 1px;
  }

  .liquid_bar_background {
    backdrop-filter: blur(4px);
    filter: grayscale(10%);
    -webkit-filter: grayscale(10%);
  }
}
